/* main-header */
.slider-height-padding{
     padding-top:635px;
     width:100%;
     height:800px;
     display: flex;
     justify-content: center;
     box-shadow:0 8px 10px rgb(0, 0, 0);
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
     position: absolute;
     left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
     position: relative;
     cursor: pointer;
     top:80px;
     display: inline-block;
     width: 50px;
     height: 50px;
     border: 3px solid #bdc3c7;
     background-size: cover;
     background-position: center;
     box-sizing: border-box;
     transition: all 0.3s ease;
     background-image: url("../image/karachi.jpg");
     animation: border-transform 6s linear infinite alternate forwards;
}
.checkbox.scnd + label{
     background-image: url("../image/lahore.jpg");
}
.checkbox.thrd + label{
     background-image: url('../image/Islamabad.jpg');
}
.checkbox.foth + label{
     background-image: url('../image/Multan.jpg');
}
.checkbox.fivth + label{
     background-image: url('../image/Quetta.jpg');
}
.checkbox:checked + label{
     transform: scale(1.3);
     margin-left:10px;
     margin-right:10px;
     animation-play-state: running;
}
@keyframes border-transform{
     0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;}
     14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
     28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
     42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
     56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
     70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
     84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
.images {
     position: absolute;
     top:90px;
     left: -32px;
     width:100%;
}
.images li {
     position:absolute;
     width: 100%;
     height:600px;
     list-style: none;
     border: 5px solid #bdc3c7;
     background-size:cover;
     background-repeat: no-repeat;
     background-position:bottom;
     background-image: url("../image/karachi.jpg");
     border-radius:30%;
     color: #343434;
     opacity: 0;
     transition: all 0.5s ease;
}
.images li span {
     font-size:40px;
     font-weight:600;
     display:flex;
     justify-content: center;
     margin-top: 20%;
     color: #0026ff;
}

.images li:nth-child(2) {
     background-image: url('../image/lahore.jpg');
}
.images li:nth-child(3) {
     background-image: url('../image/Islamabad.jpg');
}
.images li:nth-child(4) {
     background-image: url('../image/Multan.jpg');
}
.images li:nth-child(5) {
     background-image: url('../image/Quetta.jpg');
}
.checkbox.frst:checked ~ .images li:nth-child(1) {
     opacity: 1;
     pointer-events: auto;
     transition: all 2.0s;
     border-radius: 10px;
}
.checkbox.scnd:checked ~ .images li:nth-child(2) {
     opacity: 1;
     pointer-events: auto;
     transition: all 2.0s;
     border-radius: 10px;
}
.checkbox.thrd:checked ~ .images li:nth-child(3) {
     opacity: 1;
     pointer-events: auto;
     transition: all 2.0s;
     border-radius: 10px;
}
.checkbox.foth:checked ~ .images li:nth-child(4) {
     opacity: 1;
     pointer-events: auto;
     border-radius: 10px;
     transition: all 2.0s;
}
.checkbox.fivth:checked ~ .images li:nth-child(5) {
     opacity:1;
     pointer-events: auto;
     border-radius:10px;
     transition: all 2.0s;
}
/* main-section-card */
.city {
     width:100%;
     height:500px;
     box-shadow:0 8px 10px rgb(0, 0, 0);
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
.city:hover::before {
     transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.about h1{
     font-size:40px;
     color: #0095ff;
     text-align: center;
     position: relative;
     margin:20px;
     height:30px;
     font-weight:700;
     font-family:cursive;
}
.services_details {
     transition: all 0.5s ease 0s;
     margin:30px;
     text-align: center;
     cursor: pointer;
	border-radius:10px;
	position: relative;
	width: 270px;
	height:400px;
}
.services_details img{
	width: 100%;
	height:400px;
	position:relative;
}
.services_details::before {
     content: '';
     position: absolute;
     inset: 0;
     left: -5px;
     margin: auto;
     width: 280px;
     height:410px;
     border-radius: 10px;
     background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
     z-index: -10;
     transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.services_details::after {
     content: "";
     z-index: -1;
     position: absolute;
     inset: 0;
     background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
     transform: translate3d(0, 0, 0) scale(0.99);
     filter: blur(20px);
}
.services_details:hover::before {
     transform: rotate(-90deg) scaleX(1.10) scaleY(0.80);
}
     .services_details:hover h4,
     .services_details:hover p {
     color: #00ddff;
}
.single_services{
     width: 100%;
     height: 100%;
     top:0;
     position: absolute;
     background: linear-gradient(#00000047,#00000047);
     overflow: hidden;
}
.single_services h4 {
     color: #ffffff;
     font-size: 30px;
     font-weight: 700;
     margin-top:15px;
}
.single_services p {
     color: #ffffff;
     font-size:17px;
     font-weight:700;
}
/* karachi-text */
#main-text{
     width: 100%;
     /* height:auto; */
     box-shadow:0 8px 10px rgb(0, 0, 0);
}
.ct{
     margin-top:100px;
     padding-bottom:30px;
     box-shadow:0 8px 10px rgb(0, 0, 0);
}
.Text h1{
     font-size:40px;
     color: #0095ff;
     text-align: center;
     margin:40px;
     font-weight:700;
     font-family:cursive;
}
.Text p{
     font-size: x-large;
     color: #fff;
     margin:20px 100px;
     line-height:50px;
     letter-spacing:2px;
     text-align: center;
}
.Text p::before{
     content:'>';
     font-size:30px;
     font-weight:900;
     position: relative;
     top:1px;
     right:20px;
     color: #ff0000;
}
.text-button {
     background: #0000FF;
     color: white;
     padding:20px 50px;
     font-size: 17px;
     border-radius:15px;
     border: none;
     letter-spacing:1px;
     margin-left:45%;
     display: flex;
     align-items: center;
     overflow: hidden;
     position: relative;
     height:60px;
}

.text-button .icon {
     background: white;
     cursor: pointer;
     margin:10px 0;
     margin-left:10px;
     margin-bottom:10px;
     position: absolute;
     display: flex;
     align-items:center;
     justify-content:center;
     height:50px;
     width:40px;
     border-radius:10px;
     right:5px;
     transition: all 0.3s;
}
.text-button:hover .icon {
     width: calc(100% - 0.6em);
}
.text-button .icon svg {
     width:20px;
     transition: transform 0.3s;
     color: #0000FF;
}
.text-button:hover .icon svg {
     transform: translateX(0.1em);
}
.text-button:active .icon {
     transform: scale(0.95);
}

